/* Estilo geral da aplicação */
.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
}

/* Estilo do Modal (Tela de próximo jogo)*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: black;
}

.modal-content h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.modal-content p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.modal-content button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #61dafb;
  color: #282c34;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-content button:hover {
  background-color: #21a1f1;
}

.modal-content .button-container { 
  display: flex;
  justify-content: center; 
  gap: 10px; 
}


/* Estilo do botão de logout */
.logout-button {
  position: absolute;
  top: 20px;
  left: 100px;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #61dafb;
  color: #282c34;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #21a1f1;
}

/* Estilo do botão de novo jogador */
.new-player-button {
  position: absolute;
  top: 20px;
  right: 100px;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #61dafb;
  color: #282c34;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.new-player-button:hover {
  background-color: #21a1f1;
}

/* Estilo do cabeçalho */
h1 {
  font-size: 4rem;
  margin-bottom: 80px;
  font-family: 'Arial', sans-serif;
}

/* Estilo do formulário de busca */
form {
  margin-bottom: 40px;
}

input[type="text"] {
  padding: 10px;
  font-size: 1.5rem;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  font-size: 1.5rem;
  background-color: #61dafb;
  color: #282c34;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #21a1f1;
}

/* Estilo das informações do jogador */
.player-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.player-details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  padding: 20px;
  background-color: #20232a;
  border-radius: 10px;
}

.player-attribute {
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 5px;
  min-width: 150px;
  text-align: center;
  color: white; 
}

.player-attribute.green {
  background-color: green;
}

.player-attribute.red {
  background-color: red;
}

.player-icon {
  width: 100px;
  height: auto;
  margin-bottom: 60px;
}

/* Estilos específicos para a tela de login e cadastro */
.App-header {
  width: 400px; /* Largura da tela de login */
  height: 300px; /* Altura da tela de login */
  background-color: #282c34; /* Cor de fundo escura */
  border-radius: 10px; /* Borda arredondada */
  padding: 20px; /* Espaçamento interno */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza os elementos horizontalmente */
  justify-content: center; /* Centraliza os elementos verticalmente */
}

.App-header h1 {
  font-size: 4rem; /* Tamanho da fonte do título */
  color: white; /* Cor do título */
  margin-bottom: 50px; /* Espaçamento inferior do título */
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.form-input { /* Classe para inputs de login e cadastro */
  padding: 10px;
  font-size: 1.5rem;
  border-radius: 5px;
  border: 1px solid #61dafb; /* Borda dos inputs */
  background-color: white; /* Cor de fundo dos inputs */
  color: #282c34; /* Cor do texto dos inputs */
  width: 100%;
  height: 30px;
  margin-bottom: 15px; /* Espaçamento inferior dos inputs */
}

.form-input:focus {
  outline: none;
  border-color: #21a1f1;
}

.button-container {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  width: 106%;
  margin-top: 20px;
}

.form-button { /* Classe para botões de login e cadastro */
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #61dafb; /* Cor de fundo dos botões */
  color: white; /* Cor do texto dos botões */
  border: none;
  border-radius: 5px; /* Borda arredondada dos botões */
  cursor: pointer;
  width: 100%;
  height: 40px;
}

.form-button:hover {
  background-color: #21a1f1;
}